:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
  }

* {
    margin: 0;
    padding: 0;
} 
body {
    font-family: 'Manrope', sans-serif;
    background: var(--backgrond);
    color: var(--text-color);
    background-repeat: no-repeat;
  }

header {
      display: flex;
      align-items: center;
      margin: 4rem;
      justify-content: center;
      gap: 5rem;
    }


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav:nth-last-child(1){
    gap: 3rem;
}
    
ul {
    display: flex;
    list-style: none;
    gap: 4rem;
}
a {
    color: var(--text-color);
    text-decoration:  none;
}

a:hover{
    color: var(--button);
    text-decoration: none;
}

button{
    border: 1px solid var(--button);
    background: var(--backgrond);
    color: var(--text-color);
    border-radius: 6px;
    padding: 1rem 5rem;
    font-family: 'Manrope';
    font-weight: 700;
}
/* button a:hover{
  
} */

main {
    display: grid;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
}
h1 {
    font-size: 9rem;
    color: var(--text-color)  

}
h2 {
    font-size: 9rem;
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
    color: var(--backgrond)    

}
.blur-right {
    position: absolute;
    top: 0%;
    right: 0%;
}
.blur-left {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.coffee {
    position: absolute;
    bottom: 0%;
    left: 30%;
}

.header-mobile {
    display: none;
}
.text{
    display: none;
}

.blur-mobile{
    display: none;
}
#button-content-mobile{
    display: none;
}
@media screen and (max-width: 720px) {

.container-header {
    display: flex;
    
}

nav {
    display: flex;
    justify-content:space-between;
    gap: 3rem;
  
    border-bottom-width: 100% ;
}
.header-mobile {
    display: flex;
    justify-content:space-around;
    gap: 9rem;
}

.text {

    margin-top: 3rem;
    display: block;
    font-size:2.2rem;
}
/* .header-mobile {
        display: flex;
        justify-content:space-between;
        align-items:center;
        background:var(--button);
        gap: 6rem;
        
    } */

header {
    margin:1rem;
    padding:1rem;
}    
main {
    border-top: 1px solid var(--border);
}
span img {
    display:flex;
    width:1rem;
    height:1rem;
    align-items:center;
    justify-content: space-between;
   
}
#button-content-mobile {
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 1rem;
    padding:1rem;
    margin-left: 7rem;
    margin-top: 4rem;
}
#button-header {
    display: none;
}
h1 {
    font-size: 3rem;
    color: var(--text-color)  

}
h2 {
    font-size: 3rem;
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
    color: var(--backgrond)    

}
.content-desktop {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.coffee {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 333px;
}
.blur-mobile {
    display: block;
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 333px;
}
.menu,.logo,.blur-left, .blur-right, #back {
    display: none;
} 

}